.mb20 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.box {
  height: 30vh;
  border: 2px solid black;
  margin-bottom: 1em;
}


.big-box {
  border: 2px solid black;
  height: 60vh;
  display: flex;
  justify-content: center;
}

.bad-letters {
  max-width: 100%;
  font-size: 1.8em;
}

.blanks {
  text-align: center;
  font-size: 1.8em;
}

#hangman-img {
  height: 100%;
}

#win-counter {
  font-size: 2em;
}

h3 {
  text-align: center; 
}